:root{
  --primary-font: "Roboto", sans-serif;
  --primary-color: #434455;
  --accent-color: #404BBF;
  --background-color-site: #FFFFFF;
  --logo-color-part-one:#4D5AE5;
  --logo-color-part-two-top: #2E2F42;
  --logo-color-part-two-down:#F4F4FD;
  --background-color-hero-section: #2E2F42;
  --buttom-portfolio-text-color:#4d5ae5 ;
  --buttom-portfolio-background-color:#F4F4FD;
}
body {
  font-family:var(--primary-font);
  color:var(--primary-color);
  background-color:var(--background-color-site);
  }

 .list{list-style: none;}

.link {
  text-decoration: none;
}

/* header */
.logo{
  font-family: 'Raleway', sans-serif;
 font-weight: 800;
font-size: 18px;
line-height: 1.17;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--logo-color-part-one)
}
.logo-name-two-part{
  color:var(--logo-color-part-two-top)
}
.menu-item{
font-weight:500;
font-style:normal
font-size:16 px;
line-height:1.5;
letter-spacing: 0.02em;
color:#2E2F42;
}
.menu-item:hover ,
.menu-item:focus{
color: var(--accent-color); 
}
/* address */
.address{
  font-style: normal
}

.address-menu-item{
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.address-menu-item:hover ,
.address-menu-item:focus{
  color: var(--accent-color);
}
/* main */
/* hero */
.hero{
background-color:var(--background-color-hero-section);
}
.hero-name{
font-weight: 700;
font-size: 56px;
line-height:1.07;
text-align: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}
.modal-button{
font-family:var(--primary-font);
font-weight: 500;
font-size: 16px;
line-height:1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: #FFFFFF;
background: #4D5AE5;
cursor: pointer;
}
.modal-button:hover,
.modal-button:focus{
background-color:  #404BBF;
}
/* components */
.subtitle-second{
 font-weight: 700;
font-size: 36px;
line-height:1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
}
.subtitle-three{
font-weight: 500;
font-size: 20px;
line-height:1.2;
letter-spacing: 0.02em;
color:  #2E2F42;
}
.description{
 font-weight: 400;
font-size: 16px;
line-height:1.5;
letter-spacing: 0.02em;
color: #434455;
}
/* section four */
.our-team{
  background-color: #F4F4FD;
}
/* footer */
.footer{ 
  background-color:  #2E2F42;
}
.description-footer {color:#F4F4FD;}
.logo-name-two-part-down{
  color: var(--logo-color-part-two-down);
}
.our-team-menu-item {background-color:  #FFFFFF;}
/* page portfolio */
/* main  */
.menu-button-item{
font-family:var(--primary-font);
font-weight: 500;
font-size: 16px;
line-height:1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
cursor: pointer;
color: var(--buttom-portfolio-text-color);
background-color: var(--buttom-portfolio-background-color);
}
.menu-button-item:hover,
.menu-button-item:focus{
  color: #FFFFFF;
  background: #404BBF;
}
.subtitle-two{
font-weight: 500;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}